In [50]:
import pandas as pd
import matplotlib as plt

In [51]:
schema_movies = [('Id','i'),('Titel','U'),('Year', 'i'),('Runtime', 'i'),('Rank','i')]

In [52]:
df = pd.read_csv("movies.csv", delimiter=";",dtype =schema_movies )

In [53]:
df

,ID,TITLE,YEAR,RUNTIME,RANK
0,2065,The Treasure of the Sierra Madre,1948,126,66
1,2115,Million Dollar Baby,2004,132,116
2,2089,No Country for Old Men,2007,122,90
3,2009,Star Wars : Episode V - The Empire Strikes Back,1980,190,10
4,2070,Singin' in the Rain,1952,103,71
...,...,...,...,...,...
206,2143,The Grapes of Wrath,1940,190,144
207,2010,The Dark Knight,2008,152,11
208,2197,Anatomy of a Murder,1959,160,198
209,2164,Rosemary's Baby,1968,136,165
210,2091,For a Few Dollars More,1965,132,92

In [54]:
df.columns

Index(['ID', 'TITLE', 'YEAR', 'RUNTIME', 'RANK'], dtype='object')

In [55]:
schema_movies = df.dtypes
schema_movies

ID          int32
TITLE      object
YEAR        int32
RUNTIME     int32
RANK        int32
dtype: object

In [67]:
df.shape

(211, 5)

In [66]:
print("Nombre de lignes : ", df.shape[0])
print("Anné la plus grand: ",df['YEAR'].max())

Nombre de lignes :  211

In [75]:
df['YEAR'].max()

2010